In [5]:
import pandas as pd

# TD 2
---
# groupby

créer le dataframe «distance_matrix» à partir de la table 'stops', du fichier r'../../data/corse/distance_to_node.hdf'

In [6]:
distance_matrix = pd.read_hdf(r'../../data/corse/distance_to_node.hdf', 'stops')

In [7]:
distance_matrix.head()

         stop_node  stop  distance
381020  1039032311    35  0.000091
15987    276984551     1  0.000149
470229  2223467332    43  0.000197
453143  1117866543    41  0.000250
369439  2219924837    33  0.000303

restreindre «distance_matrix» aux lignes pour lesquelles le stop est plus petit que 5

In [8]:
distance_matrix = distance_matrix.loc[distance_matrix['stop'] < 5].copy()
distance_matrix.head()

        stop_node  stop  distance
15987   276984551     1  0.000149
34094   417009678     2  0.000347
29101    59747248     2  0.000402
36712  1711632979     2  0.000484
30288   275387819     2  0.000565

En utilisant un groupby, afficher la distance minimale pour chaque stop

In [9]:
distance_matrix.groupby('stop')['distance'].max()

stop
0    1.246007
1    1.256156
2    1.267823
3    1.046946
4    1.046946
Name: distance, dtype: float64

Afficher le numéro du 'stop_node' qui correspond à la distance minimale pour chaque stop:
- classer «distance_matrix» par ordre croissant
- utiliser un groupby('stop') et faire ressortir le premier élément

In [10]:
distance_matrix.sort_values('distance', inplace=True)
distance_matrix.groupby('stop').first()

      stop_node  distance
stop
0     255850481  0.001562
1     276984551  0.000149
2     417009678  0.000347
3     258557760  0.002930
4     258557760  0.002930

In [11]:
# hide code
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" 
value="Click here to toggle on/off the raw code."></form>''')