In [2]:
import geopandas as gpd
import pandas as pd
import numpy as np

from tqdm import tqdm

training_folder = r'../'
gis_folder = training_folder + r'gis/corse/'
data_folder = training_folder + r'data/corse/'

# chargement des données

In [3]:
nodes = gpd.read_file(gis_folder + r'osmdrive/nodes/nodes.shp')
stops = gpd.read_file(gis_folder + r'stops_corse.shp')
communes = gpd.read_file(gis_folder + r'communes_corse.shp')

In [8]:
nodes.crs = {'init' :'epsg:4326'}
stops.crs = {'init' :'epsg:4326'}
communes.crs = {'init' :'epsg:4326'}

nodes = nodes.to_crs({'init': 'epsg:2154'}) 
stops = stops.to_crs({'init': 'epsg:2154'}) 
communes = communes.to_crs({'init': 'epsg:2154'})

In [9]:
nodes.head(1)

  highway     osmid                                    geometry
0    None  14468319  POINT (1226992.573164942 6070912.43982139)

In [10]:
stops.head(1)

,name,stop,geometry
0,"Gare de Campo dell'Oro (Ajaccio), corse",0,POINT (1179810.002044853 6109555.658381497)

In [11]:
communes.head(1)

   insee                                           geometry
0  2B047  POLYGON ((1194340.897468092 6154934.151709693,...

# Matrices des distances 
## stop -> node et commune -> node

In [12]:
nodetuples = nodes[['osmid', 'geometry']].values.tolist()
stoptuples = stops[['stop', 'geometry']].values.tolist()
communetuples = communes[['insee', 'geometry']].values.tolist()

## stop node

In [13]:
stop_node_distances = []

for stop_id, stop_geometry in tqdm(stoptuples):
    for node_id, node_geometry in nodetuples:
        distance = node_geometry.distance(stop_geometry)
        stop_node_distances.append((node_id, stop_id, distance))
        
# on transforme les listes de tuples en DataFrames
stop_node_distance_dataframe = pd.DataFrame(
    stop_node_distances, 
    columns = ['stop_node', 'stop', 'distance']
)

stop_node_distance_dataframe.sort_values(by='distance', inplace=True)

100%|██████████████████████████████████████████████████████████████████████████████████| 44/44 [00:05<00:00,  8.94it/s]

In [14]:
stop_node_distance_dataframe.head()

         stop_node  stop   distance
504391  1039032311    35   5.995474
22723    276984551     1  14.605910
613994  2223467332    43  16.357759
506676  6484401341    35  23.935246
598853  1117866543    41  25.052728

## commune node
On fait la même chose avec les communes

In [20]:
commune_node_distances = []
        
for commune_id, commune_geometry in tqdm(communetuples):
    for node_id, node_geometry in nodetuples:
        distance = node_geometry.distance(commune_geometry)
        commune_node_distances.append((node_id, commune_id, distance))
        
commune_node_distance_dataframe = pd.DataFrame(
    commune_node_distances, 
    columns = ['commune_node', 'commune', 'distance']
)

commune_node_distance_dataframe.sort_values(by='distance', inplace=True)

commune_node_distance_dataframe.head() # quand le nœud est dans la commune, la distance est nulle

100%|████████████████████████████████████████████████████████████████████████████████| 360/360 [01:03<00:00,  4.40it/s]

        commune_node commune  distance
6763946   1779713597   2A163       0.0
1530168    300445272   2A247       0.0
1530169    300445275   2A247       0.0
1530170    300445298   2A247       0.0
1530171    300445313   2A247       0.0

In [51]:
# la table est assez large, on va la stocker au format hdf, plus rapide et leger que CSV
len(commune_node_distance_dataframe_short)

906880

In [52]:
commune_node_distance_dataframe.to_hdf(data_folder + 'distance_to_node.hdf', 'communes', mode='w')
stop_node_distance_dataframe.to_hdf(data_folder + 'distance_to_node.hdf', 'stops', mode='a')

In [53]:
help(stop_node_distance_dataframe.to_hdf)

Help on method to_hdf in module pandas.core.generic:

to_hdf(path_or_buf, key, **kwargs) method of pandas.core.frame.DataFrame instance
    Write the contained data to an HDF5 file using HDFStore.

    Hierarchical Data Format (HDF) is self-describing, allowing an
    application to interpret the structure and contents of a file with
    no outside information. One HDF file can hold a mix of related objects
    which can be accessed as a group or as individual objects.

    In order to add another DataFrame or Series to an existing HDF file
    please use append mode and a different a key.

    For more information see the :ref:`user guide <io.hdf5>`.

    Parameters
    ----------
    path_or_buf : str or pandas.HDFStore
        File path or HDFStore object.
    key : str
        Identifier for the group in the store.
    mode : {'a', 'w', 'r+'}, default 'a'
        Mode to open file:

        - 'w': write, a new file is created (an existing file with
          the same name would be deleted).
        - 'a': append, an existing file is opened for reading and
          writing, and if the file does not exist it is created.
        - 'r+': similar to 'a', but the file must already exist.
    format : {'fixed', 'table'}, default 'fixed'
        Possible values:

        - 'fixed': Fixed format. Fast writing/reading. Not-appendable,
          nor searchable.
        - 'table': Table format. Write as a PyTables Table structure
          which may perform worse but allow more flexible operations
          like searching / selecting subsets of the data.
    append : bool, default False
        For Table formats, append the input data to the existing.
    data_columns :  list of columns or True, optional
        List of columns to create as indexed data columns for on-disk
        queries, or True to use all columns. By default only the axes
        of the object are indexed. See :ref:`io.hdf5-query-data-columns`.
        Applicable only to format='table'.
    complevel : {0-9}, optional
        Specifies a compression level for data.
        A value of 0 disables compression.
    complib : {'zlib', 'lzo', 'bzip2', 'blosc'}, default 'zlib'
        Specifies the compression library to be used.
        As of v0.20.2 these additional compressors for Blosc are supported
        (default if no compressor specified: 'blosc:blosclz'):
        {'blosc:blosclz', 'blosc:lz4', 'blosc:lz4hc', 'blosc:snappy',
        'blosc:zlib', 'blosc:zstd'}.
        Specifying a compression library which is not available issues
        a ValueError.
    fletcher32 : bool, default False
        If applying compression use the fletcher32 checksum.
    dropna : bool, default False
        If true, ALL nan rows will not be written to store.
    errors : str, default 'strict'
        Specifies how encoding and decoding errors are to be handled.
        See the errors argument for :func:`open` for a full list
        of options.

    See Also
    --------
    DataFrame.read_hdf : Read from HDF file.
    DataFrame.to_parquet : Write a DataFrame to the binary parquet format.
    DataFrame.to_sql : Write to a sql table.
    DataFrame.to_feather : Write out feather-format for DataFrames.
    DataFrame.to_csv : Write out to a csv file.

    Examples
    --------
    >>> df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]},
    ...                   index=['a', 'b', 'c'])
    >>> df.to_hdf('data.h5', key='df', mode='w')

    We can add another object to the same file:

    >>> s = pd.Series([1, 2, 3, 4])
    >>> s.to_hdf('data.h5', key='s')

    Reading from HDF file:

    >>> pd.read_hdf('data.h5', 'df')
    A  B
    a  1  4
    b  2  5
    c  3  6
    >>> pd.read_hdf('data.h5', 's')
    0    1
    1    2
    2    3
    3    4
    dtype: int64

    Deleting file with data:

    >>> import os
    >>> os.remove('data.h5')